{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
    <form class="form-horizontal" action="" method="post">
        {% if form.errors %}
            <div class="alert alert-danger">Please correct the errors below:</div>
        {% endif %}

        {% csrf_token %}
        <div class="form-group">
            <div class="col-xs-12">
                <label for="id_name">Name</label>
                {% render_field form.name class+="form-control" %}
                {{ form.name.errors }}
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>

    {% if adventure %}
        <div class="adventure-story-steps">

            <div class="panel panel-default">
                <div class="panel-heading">
                    Summary Sentence

                    {% if adventure.summarysentence %}
                        <a class="btn btn-primary"
                           href="{% url 'adventures:summary_sentence_update' adventure.pk adventure.summarysentence.pk %}">Edit</a>
                    {% else %}
                        <a class="btn btn-primary"
                           href="{% url 'adventures:summary_sentence_create' adventure.pk %}">Create</a>
                    {% endif %}
                </div>
                <div class="panel-body">
                    <p>{{ adventure.summarysentence }}</p>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Summary Paragraph

                    {% if adventure.summaryparagraph %}
                        <a class="btn btn-primary"
                           href="{% url 'adventures:summary_paragraph_update' adventure.pk adventure.summaryparagraph.pk %}">Edit</a>
                    {% else %}
                        <a class="btn btn-primary"
                           href="{% url 'adventures:summary_paragraph_create' adventure.pk %}">Create</a>
                    {% endif %}
                </div>
                <div class="panel-body">
                    <p>{{ adventure.summaryparagraph }}</p>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Character Outlines
                    <a class="btn btn-primary" href="{% url 'adventures:character_outline_create' adventure.pk %}">Create</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        {% for character_outline in adventure.characteroutline_set.all %}
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail">
                                    <div style="height: 250px; overflow: hidden">
                                        <img class="img-responsive" src="{{ character_outline.image_url }}"
                                         alt="{{ character_outline.name }}">
                                    </div>
                                    <div class="caption">
                                        <h3>{{ character_outline.name }}</h3>
                                        <p>{{ character_outline.description|truncatechars:100 }}</p>
                                        <a href="{% url 'adventures:character_outline_update' adventure.pk character_outline.pk %}"
                                           class="btn btn-primary" role="button">Edit</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}