{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'adventures:update' adventure.pk %}">{{ adventure.name }}</a></li>
        <li class="active">Character Outline</li>
    </ol>

    <div class="row">
        <form class="form-horizontal col-xs-12 col-sm-6" action="" method="post">
            {% if form.errors %}
                <div class="alert alert-danger">Please correct the errors below:</div>
            {% endif %}

            {% csrf_token %}
            <div class="form-group">
                <div class="col-xs-12 col-sm-6">
                    <label for="id_name">Name</label>
                    {% render_field form.name class+="form-control" %}
                    {{ form.name.errors }}
                </div>
                <div class="col-xs-12 col-sm-6">
                    <label for="id_name">Image Url</label>
                    {% render_field form.image_url class+="form-control" %}
                    {{ form.namimage_url.errors }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <label for="id_description">Description</label>
                    {% render_field form.description class+="form-control" %}
                    {{ form.description.errors }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <label for="id_background">Background</label>
                    {% render_field form.background class+="form-control" %}
                    {{ form.background.errors }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <label for="id_personality">Personality</label>
                    {% render_field form.personality class+="form-control" %}
                    {{ form.personality.errors }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <label for="id_motive">Motive</label>
                    {% render_field form.motive class+="form-control" %}
                    {{ form.motive.errors }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <label for="id_conflict">Conflict</label>
                    {% render_field form.conflict class+="form-control" %}
                    {{ form.conflict.errors }}
                </div>
            </div>

            <button class="btn btn-primary" type="submit">Save</button>
        </form>
        <div class="col-xs-12 col-sm-6">
            {% if form.image_url.value %}
                <img class="img-thumbnail" style="max-height:300px" src="{{ form.image_url.value }}"
                     alt="{{ form.name.value }}"/>
            {% else %}
                <div class="thumbnail" style="height: 300px; width: 100%;">
                    <div style="background: #ececec; width:100%; height: 100%;">
                        <i style="font-size: 40px;top: 50%;left: 50%;margin-top: -20px;margin-left: -20px;"
                           class="glyphicon glyphicon-camera"></i>
                    </div>
                </div>
            {% endif %}
            <h2>{{ form.name.value }}</h2>

            <h4>Description</h4>
            <p>{{ form.description.value }}</p>

            <h4>Background</h4>
            <p>{{ form.background.value }}</p>

            <h4>Personality</h4>
            <p>{{ form.description.value }}</p>

            <h4>Motive</h4>
            <p>{{ form.motive.value }}</p>

            <h4>Conflict</h4>
            <p>{{ form.conflict.value }}</p>
        </div>
    </div>
{% endblock %}